:root {
  --showcase-size: 0.4rem;
}

.container {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
  height: var(--showcase-size);
  margin: calc(var(--showcase-size) * 0.3);

  .col {
    margin-right: calc(var(--showcase-size) * 0.3);
    padding: 0;
    width: var(--showcase-size);
    height: var(--showcase-size);
    display: inline-block;
    transition: background-color 500ms;
    background-color: #eee;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
}
