.container {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
  height: 20px;
  margin: 5px;

  .col {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    transition: background-color 500ms;
    background-color: #eee;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86); /* easeInOutCirc */
  }
}
