.title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: var(--fc-title);
}

.descriptions {
  font-size: 0.5rem;
  text-align: center;
  margin-top: 10%;

  p {
    marign: 10px 0;
  }
}

.disclaimers {
  list-style-type: '*';
  color: #888;
  margin: 20px 0;
  font-size: 0.38rem;

  li {
    .entry {
      padding-left: 10px;
    }
  }
}

.start-button {
  border: none;
  width: 200px;
  height: 60px;
  font-size: 0.7rem;
  color: var(--fc-title);
  border-radius: 10px;
  margin-bottom: 20%;
  background: linear-gradient(145deg, #dddddd, #ffffff);
  box-shadow:
    8px 8px 22px #b0b0b0,
    -8px -8px 22px #ffffff;
}
